.tarrifItem {
  width: 100%;
  max-width: 250px;
  gap: var(--gap);
  flex-direction: column;
  padding: var(--padding);
  background-color: var(--bgColor);
  box-shadow: var(--shadow);
  border-radius: 5px;
  h3 {
    font-size: 32px;
    text-align: center;
  }
}