:root {
  --PrimaryColor: #2d2d2d;
  --bgColor: #e5e5e5
}

.flex {
  display: flex;
}


.container {
  width: 100%;
  max-width: 1440px;
}
@media (min-width: 320px) and (max-width: 700px){
  .container {
    max-width: 320px;
  }
}